.wrapper {
    padding: 10px 0px;

    &_input {
        width: 100%;
        overflow: hidden;
        overflow-wrap: break-word;
        resize: none;
        height: 44px;
        background: none;
        border: 1px solid gray;
        border-radius: 10px;
        box-shadow: none;
        padding: 5px;
        font-size: 1rem;
        color: black;
    }

    &_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0;
        background: var(--color-gray-100);
        transition: .3s;
        font-size: 1rem;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 15px;

        &:hover,
        &:active {
            background: var(--color-gray-200) !important;
        }

        & button {
            font-size: 1rem;
            border: none;
            background: transparent;
            outline: none;
            cursor: pointer;
            transition: .1s;
            width: 32px;
            height: 32px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover,
            &:active {
                background-color: var(--color-secondary);
                color: var(--color-muted);
            }
        }
    }
}